.moveUpRevealOverlay {
    opacity: 0;
    transition: opacity 2s;
    transform: translateX(-200px);
}

.moveRight {
    opacity: 0;
    transform: translateX(-220px);
}

.active {
    opacity: 1;
    transition: opacity .6s ease-out, transform .8s ease-out;
    transform: translateX(0);
}
