@media only screen and (max-width: 1300px) {

    /****** TYPOGRAPHY *********/

    h1 {
        font-family: var(--mainFont);
        font-family: 'Taviraj', serif;
        font-weight: 400;
        font-size: 2.8rem;
        color: white;
        line-height: 3.2rem;
        color: white;
        //text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    }

    h2 {
        color: var(--darkColour);
        font-family: var(--mainFont);
        font-size: 1.2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }

    h3 {
        color: rgba(229, 229, 229, 0.80);
        font-family: var(--mainFont);
        line-height: 1.4rem;
        font-size: .9rem;
        font-weight: 400;
    }

    h4 {
        color: var(--mainColour);
        font-size: 1.1rem;
        font-family: var(--mainFont);
        font-weight: 400;

    }

    h5 {
        color: var(--darkColour);
        font-family: var(--mainFont);
        font-family: 'Taviraj', serif;
        font-size: 2.2rem;
        line-height: 2.5rem;
        font-weight: 400;
        margin: 12px 0;
    }

    /********* MISC ************/

    .cta-button {
        background-color: var(--lightColour);
        background-color: #0072c9;
        color: white;
        border-radius: 5px;
        padding: 12px 18px;
        outline: none;
        border: none;
        width: fit-content;
        margin: 40px auto 60px auto;
        display: block;
        font-size: .8rem;
    }

    .closeButton {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        padding: 20px;
        cursor: pointer;
        margin: 18px;
    }

    .closeButton_line1 {
        height: 2px;
        background-color: white;
        width: 30px;
        transform: rotate(45deg);
        position: absolute;

    }

    .closeButton_line2 {
        height: 2px;
        background-color: white;
        width: 30px;
        transform: rotate(-45deg);
        position: absolute;

    }

    /*********** OVERLAY ***********/

    .overlay {
        position: fixed;

        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        background-color: #02102F;
        z-index: 1001;
        overflow-x: hidden;
        overflow: hidden;

        border: outline 4px white;
        transition: ease-out .2s;


        display: flex;
        flex-direction: column;
        background-image: url("src/logo.png");
        background-size: cover;
    }

    .overlayInner {
        height: 100vh;
        min-height: 600px;
        background-color: rgba(2, 16, 47, 0.79);
        display: flex;
        flex-direction: column;
    }

    .overlayShow {
        width: 100% !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .overlayHeader {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .overlayLogo {
        height: 70%;
        width: fit-content;
        background-color: white;
        border-radius: 2px;
        padding: 5px;
    }

    .overlayNavigation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        padding: 50px 50px;
        height: 65%;
    }

    .overlayNavigation-item {
        font-family: var(--mainFont);
        font-size: 2.2rem;
        font-weight: 800;
        color: white;

        opacity: 0;
        transform: translateY(100px);
    }

    .overlayFooter {
        position: relative;
        margin: 0 auto;
        width: 80%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-top: solid 1px white;
    }

    .overlayFooter-line {
        height: 1px;
        width: 70%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.84);
    }

    .overlayFooter-social {
        color: white;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        gap: 30px;
        display: flex;
        justify-content: center;
        margin: 30px;
    }

    .overlayFooter-social a {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    /*********** HEADER ************/

    #headerWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 500px;
        background-image: url("https://i.pinimg.com/originals/96/ef/f9/96eff9a254b6dacbaec2f46c5d3639c4.jpg");
        background-size: cover;
    }

    #header {
        position: relative;
        width: 100%;
        height: 100%;
        align-items: center;
        overflow: hidden;

        display: flex;
        flex-direction: column;
    }

    #header-leftSide {
        background-color: rgba(23, 46, 96, 0.95);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(11, 33, 79, 0.95);
    }

    .information {
        display: none;
    }

    #header-emptyTop {
        width: 100%;
        height: 110px;
        display: none;
    }

    #header_inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header_headlineWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 30px;
        overflow: hidden;
    }

    .navigationBar {
        font-family: var(--mainFont);
        background-color: white;
        position: relative;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        background-color: white;
    }

    .navigationBar_inner {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .4s;
        height: 75px;
    }

    #navigationBar_logo {
        height: 80%;
        display: flex;
        margin-left: 5px;
    }


    #logo {
        height: 100%;
        padding: 2px 3px;
    }

    .navigationBar_logoText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.1rem;
        font-weight: 500;
        transition: .4s;
        font-family: 'Montserrat', sans-serif;
        gap: 2px;
        background-color: white;
    }

    .navigationBar_logoTextItem1 {
        color: var(--lightColour);
        overflow: hidden;
    }

    .navigationBar_logoTextItem2 {
        color: var(--darkColour);
        overflow: hidden;
    }

    #navigationBar_menu {
        display: none;
    }

    .hamburgerMenu {
        //background-color: rgba(0, 0, 0, 0.60);
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px 10px;
        margin: 0 10px 0 0;
        border-radius: 3px;
        height: 50px;
        transition: .2s;

        background-color: transparent;
        border: none;
    }

    .hamburgerMenu:active {
        background-color: transparent;
        outline: none;
        border: none;
    }

    .hamburgerMenuScrolled {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .hamburgerMenuLine {
        height: 2px;
        width: 32px;
        background-color: rgba(23, 46, 96, 0.95);
        border-radius: .75px;
        margin: 3.5px auto;
    }

    .firstSection_inner {
        margin: 0 auto;
    }

    .firstSection_inner,
    .secondSection_inner,
    .thirdSection_inner,
    .fourthSection_inner,
    #testSection {
        padding: 50px 25px;
    }

    .text {
        line-height: 1.5rem;
        font-family: var(--mainFont);
    }

    #secondSection {}

    .secondSection_inner {
        background-color: var(--verylightColour);
        background-color: #f7f7f7;
    }

    .aboutMeImageBox {
        position: relative;
        height: 250px;
        padding: 0 20px;
        max-width: 300px;
        margin: 0 auto;
    }

    .aboutMeImageBox img {
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.38);
    }

    .image1 {
        height: 100%;
        //background: url("src/winner.jpg");
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .image2 {
        position: absolute;
        top: 25px;
        right: 20px;
        height: 200px;
    }


    .image3 {
        position: absolute;
        top: 200px;
        left: 50px;
        height: 100px;
        width: 100%;
        background: url("src/training2.jpg");
        background-size: cover;
        display: none;
    }



    img {
        max-width: 100%;
    }

    .fourthSection_inner {
        display: none;
    }

    #thirdSection {
        display: none;
    }

    #testSection h5 {
        text-align: center;
    }


    .testSection_inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: var(--maxWidth);
        margin-top: 35px;
    }

    .testSection_sub {
        display: flex;
        gap: 25px;

        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.02);
        padding: 10px;
    }

    .testSection_subPic {
        min-width: 50px;
        height: 50px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blueStuff {
        width: 80%;
        height: 6px;
        background-color: var(--darkColour);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 0 auto;
    }

    .testSection_subText {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .description {
        font-family: "Poppins", sans-serif;
        font-size: .9rem;
        color: var(--darkColour);
        font-weight: 400;
    }

    .fa-handshake-angle,
    .fa-dumbbell,
    .fa-staff-snake {
        font-size: 1.8rem;
        margin: 0 auto;
        color: var(--darkColour);
        margin: 40px auto;
    }


    #footer {
        background-color: var(--darkColour);
        width: 100%;
    }

    .footer_inner {
        width: var(--contentWidth);
        max-width: var(--maxWidth);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-family: var(--mainFont);
        padding: 50px 0;
        text-align: center;
    }

    .footerBox {
        margin: 0 auto;
    }

    .footerLogo {
        background-color: white;
        border-radius: 5px;
        width: fit-content;
        padding: 5px 12px 5px 2px;
        display: flex;
        height: 60px;
    }

    .footerLogo-logobox {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .footerLogo-textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footerLogo-textbox-1 {
        color: var(--lightColour);
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }

    .footerLogo-textbox-2 {
        color: var(--darkColour);
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
    }

    .footerHeadline {
        color: white;
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 1.4rem;
    }

    .footerHeadlineSocial {
        text-align: center;
        color: white;
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .footerText {
        color: white;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .footerSocialTabs {
        color: white;
        font-size: 2.6rem;
        display: flex;
        justify-content: center;
        gap: 15px;
    }








    .backToTop {
        color: white;
        position: fixed;
        bottom: 20px;
        right: -50px;
        z-index: 100;
        border-radius: 4px;
        transition: .2s;
        font-size: 1.2rem;

        border: solid 1px white;
        height: 46px;
        width: 46px;
        display: flex;
        background-color: var(--darkColour);
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .backToTopScrolled {
        right: 20px;
    }



    .tro {
        opacity: 1;
        transform: translateY(0px);
        transition: 1s;
    }

}
