:root {
    --primary: white;
    --secondary: #f9f9f9;
    --mainColour: #0064b1;
    --darkColour: #172E60;
    --ultraDarkColour: #0b214f;
    --lightColour: #f8f8f8;
    --lightColour: #f5f5f7;
    //--lightColour: #f5fbff;
    --verylightColour: #E6F1FA;
    --lightGrey: rgba(0, 0, 0, 0.02);
    --borderColour: #e3e3e3;
    /* --mainFont: 'Josefin Sans', sans-serif;
    --mainFont: 'Taviraj', serif;
    --mainFont: "Poppins", sans-serif; */
    /* --mainFont: "Archivo", sans-serif; */
    --mainFont: 'Montserrat', sans-serif;
    --secondFont: 'Montserrat', sans-serif;
    //--secondFont: "DM Sans", serif;
    //--mainFont: 'Josefin Sans', sans-serif;
    --contentWidth: 80%;
    --maxWidth: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

section {
    padding: 0rem 0;
}

/****** TYPOGRAPHY *********/

body {
    min-width: 350px;
}

h1 {
    font-family: var(--mainFont);
    color: var(--darkColour);

    font-weight: 420;
    font-size: 2.5rem;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

h2 {
    font-family: var(--mainFont);
    color: var(--darkColour);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

h3 {
    color: var(--ultraDarkColour);
    font-family: var(--mainFont);
    line-height: 1.4rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

h4 {
    color: var(--mainColour);
    font-size: 1.1rem;
    font-family: var(--mainFont);
    font-weight: 400;

}

h5 {
    color: var(--darkColour);
    font-family: var(--mainFont);
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 500;
    text-align: left;

    margin-bottom: 8px;
}

p {
    font-family: var(--secondFont);
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
    line-height: 1.6rem;
}

button {
    width: fit-content;
    background-color: var(--darkColour);
    padding: .6rem 1.5rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.smallText {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
}

/*********** OVERLAY ***********/

.overlay {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: #02102F;
    z-index: 1001;
    overflow-x: hidden;
    overflow: hidden;

    border: outline 4px white;
    transition: ease-out .2s;


    display: flex;
    flex-direction: column;
    //background-image: url("src/logo.png");
    background-size: cover;
}

.overlayInner {
    height: 100vh;
    min-height: 500px;
    //background-color: rgba(2, 16, 47, 0.79);
    //border: solid 4px black;
}

.overlayShow {
    width: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.overlayLogo {
    height: 70%;
    width: fit-content;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
}

.overlayNavigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 35% 0px;
    //height: 100vh;
}

.overlayNavigation-item {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    font-weight: 500;
    color: #e5e5e5;

    opacity: 0;
    transform: translateY(100px);

    padding: 10px;
    width: 100%;
    text-align: center;
}

.overlayFooter {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: solid 1px white;
}

.overlayFooter-social {
    color: white;
    padding: 30px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.overlayFooter-social a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/********* MISC ************/

.cta-button {
    background-color: var(--lightColour);
    background-color: #0072c9;
    color: white;
    border-radius: 5px;
    padding: 12px 18px;
    outline: none;
    border: none;
    width: fit-content;
    margin: 80px auto 80px auto;
    display: block;
    font-size: .8rem;

    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: 40px auto;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 35px;
    cursor: pointer;
    border-bottom-left-radius: 50%;
    z-index: 1;
}

.closeButton_line1 {
    height: 2px;
    background-color: white;
    width: 30px;
    transform: rotate(45deg);
    position: absolute;


}

.closeButton_line2 {
    position: absolute;
    height: 2px;
    background-color: white;
    width: 30px;
    transform: rotate(-45deg);
}

/*********** HEADER ************/

#headerWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--lightColour);
}

#header {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;

    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
}

#header-left {
    position: relative;
    overflow: hidden;
}

.imgBox {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    width: 360px;
    height: 360px;
    margin: 40px auto 0 auto;
    position: relative;
}

.darkCircle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    border: solid 13px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.brightCircle {
    width: 95%;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 6px rgba(255, 255, 255, 0.3);

    border-radius: 50%;
}

.header-leftBG {
    right: 50%;
    top: -40px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(23, 46, 96, 0.03);
    position: absolute;
}

.header-leftBG2 {
    bottom: 0px;
    left: 50%;

    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(23, 46, 96, 0.03);
    position: absolute;
}

#header-left img {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
    object-position: 0 0;
    display: block;
}

#header-right {}

.headerItemWrapper {
    display: none;
}

.headerItem i {
    font-size: 2.5rem;
    color: var(--ultraDarkColour);
}

.headerItem p {
    font-size: .8rem;
    line-height: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.headerItem h5 {
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    font-weight: 500;
}


.information {
    display: none;
}

#header-emptyTop {
    width: 100%;
    height: 110px;
    display: none;
}

#header_headlineWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 25px;
    gap: 1.5rem;
}

.subTitle {
    margin-top: 5px;
}


.subTitle p {
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(128, 128, 128, 0.50);
}

.line {
    background-color: var(--darkColour);
    height: 3px;
    width: 70px;
}

.moreButton {
    width: fit-content;
    background-color: var(--darkColour);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.19);
    padding: .5rem .5rem .5rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.moreButton p {
    color: white;
    font-size: 1.1rem;
    margin: 0;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ultraDarkColour);
    font-size: 1.2rem;
    transform: translateY(50px);
    opacity: 0;
}

.headerContactWrapper {
    display: none;
}

.navigationBar {
    font-family: var(--mainFont);
    background-color: white;
    position: relative;
    width: 100%;
    z-index: 1;
    //display: flex;
    //align-items: center;
    background-color: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.02);
}

.navigationBar_inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    height: 80px;
    //box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.08);
}

#navigationBar_logo {
    height: 80%;
    display: flex;
    margin-left: 5px;
}


#logo {
    height: 100%;
    padding: 2px 3px;
}

.navigationBar_logoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .4s;
    font-family: 'Montserrat', sans-serif;
    gap: 2px;
}

.navigationBar_logoTextItem1 {
    color: var(--darkColour);
    overflow: hidden;
}

.navigationBar_logoTextItem2 {
    color: var(--darkColour);
    overflow: hidden;
}

#navigationBar_menu {
    display: none;
}

.hamburgerMenu {
    //background-color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    height: 50px;
    transition: .2s;

    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.hamburgerMenu:active {
    background-color: transparent;
    outline: none;
    border: none;
}

.hamburgerMenuScrolled {
    background-color: rgba(0, 0, 0, 0.4);
    border-top: solid 1px #f0f0f0;
}

.hamburgerMenuLine {
    height: 2px;
    width: 32px;
    background-color: rgba(23, 46, 96, 0.95);
    border-radius: .75px;
    margin: 4px auto;
}


#physioHelpsWrapper {
    //background-color: var(--secondary);
    //clip-path: polygon(100% 0, 100% 95%, 35% 100%, 0% 95%, 0 0);
    position: relative;
    overflow: hidden;
}

.physioHelps {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 1300px;
}

#physioHelpsWrapper .line {
    background-color: var(--ultraDarkColour);
    margin: .6rem 0 .8rem 0;
}

.sectionImagePadding {
    padding: 10px;
    display: none;
}

.sectionImage {
    background: url("src/IMG_3945.JPG");
    background-position: center;
    background-size: cover;
    height: 80px;
}

.physioHelpsCards {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin: 6rem auto 2rem auto;
}

.physioHelpsCardIcon {
    height: 75px;
    text-align: center;

    position: relative;
    margin-bottom: 1.5rem;
}

.physioHelpsCardIconBG {
    position: absolute;
    background-color: #f8f8f8;
    height: 0px;
    width: 0px;


    margin-left: auto;
    margin-right: auto;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 50%;
    z-index: -1;
}

.physioHelpsCard {
    color: black;
    text-align: center;
    font-family: Montserrat;
    //box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.02) 0px 4px 6px -2px;

    //border: solid 1px rgba(0, 0, 0, 0.09);
    max-width: 350px;

    //border: solid 1px #f2f2f2;
    background-color: rgba(255, 0, 0, 0);
    text-align: left;
    opacity: 0;
}

.physioHelpsCard p {
    text-align: center;
}

.cardOne {
    transform: translateX(-200px);
}

.cardTwo {}

.cardThree {
    transform: translateX(200px);
}

.physioHelpsCardHeadline {
    font-size: 1.3rem;
    color: var(--darkColour);
    //color: var(--ultraDarkColour);
    margin-bottom: .4rem;
    font-weight: 600;
    font-family: var(--mainFont);
    text-align: center;
}

.testi {
    transform: translate(-100px);
    transition: 2s;
    opacity: 0;
}


.leistungen {
    text-align: center;
    padding: 2rem;
}

.leistungenCards {
    display: flex;
    flex-direction: column;
    //background-image: url("https://i.pinimg.com/originals/96/ef/f9/96eff9a254b6dacbaec2f46c5d3639c4.jpg");
    background-attachment: fixed;
}

.leistungenCard {
    padding: 1.5rem 2rem;
    background-color: rgba(23, 46, 96, 1);
    color: white;
    font-family: Montserrat;
    text-align: center;
    width: 100%;
    color: white;
}

.leistungenCard .smallText {
    color: rgba(255, 255, 255, 0.8);
}

.leistungenCard i {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.leistungenCard {
    background-color: rgba(11, 33, 79, 1);
    width: 100%;
}

#firstSection {
    position: relative;
    display: none;
}

.firstSection_inner {
    margin: 0 auto;
    padding: 60px 25px;
}

.text {
    line-height: 1.8rem;
    font-size: 1rem;
    font-family: var(--mainFont);
}

#secondSection {
    position: relative;
}

.secondSection_inner {
    //background-color: var(--verylightColour);
    //background-color: #f7f7f7;
    padding: 40px 25px;
    padding-bottom: 110px;
}

#newLeistungenWrapper {
    width: 100%;
    background-color: var(--lightColour);
}

.newLeistungen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: var(--maxWidth);
    padding: 40px 30px;
}

.newLeistungen p {
    margin: 1rem 0;
}

.newLeistungen .line {
    margin: .8rem 0;
}

.newLeistungenLeft {
    margin: 0 auto 6rem auto;
}

.newLeistungenLeftInner {
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 8rem;
}

.newLeistungenRight {
    display: flex;
    justify-content: center;
}

.leistungenRightGrid {
    display: grid;
    gap: 50px;
    grid-template-columns: auto;
}

.newLeistungen-card {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    //height: 300px;
    position: relative;
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.31);
    cursor: pointer;
    overflow: hidden;
    width: 320px;
    height: 320px;
    border-radius: 15px;
    border: solid 1px var(--ultraDarkColour);
}



.newLeistungen-card img {
    width: 100%;
    height: 100%;
    //height: 0%;
    object-fit: cover;
    border-radius: 3px;
    display: block;
}

.newLeistungen-cardText {
    //background-color: var(--ultraDarkColour);
    color: white;
    background-color: rgba(11, 33, 79, 0.9);
    font-family: var(--mainFont);
    font-weight: 400;
    position: absolute;
    bottom: 0;
    //color: white;

    font-size: 1rem;
    padding: 12px 15px;
    width: 100%;
    height: 100%;
    transform: translateY(245px);
    line-height: 1.5rem;
    transition: ease-out .3s;
}

.newLeistungen-cardText p {
    color: white;
    font-size: .9rem;
    font-weight: 300;
}

.newLeistungen-cardTextMouseover {
    transform: translateY(0);
}

.newLeistungen-cardTextHeadline {
    display: flex;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 1.5rem;
    gap: .6rem;
}

.iconi {
    position: relative;

    border-radius: 5px;
    outline: solid 1px black;
    background-color: white;
    width: 50px;
    height: 50px;
}

.iconi img {
    position: absolute;
    width: 65px;
    height: 65px;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    left: -8px;
    top: -2px;

}

.sectionRight {
    height: 400px;
    display: flex;
    justify-content: center;
    display: none;
}

.aboutMeTextBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutMeImageBox {
    position: relative;
    height: 250px;
    padding: 0 20px;
    z-index: 0;
    display: none;
}

.aboutMeImageBox img {
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.38);
}

.image1 {
    height: 100%;
    //background: url("src/winner.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
}

.image2 {
    position: absolute;
    top: 25px;
    right: 20px;
    height: 200px;
}


.image3 {
    position: absolute;
    top: 200px;
    left: 50px;
    height: 100px;
    width: 100%;
    background: url("src/training2.jpg");
    background-size: cover;
    display: none;
}


#fourthSection {
    display: none;
}

#thirdSection {
    display: none;
}

#testSection h5 {
    text-align: center;
}

.testSection_inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: var(--maxWidth);
    margin-top: 35px;
    margin: 40px 0;
    padding: 40px 25px;
}

.testSection_subWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testSection_sub {
    display: flex;
    gap: 25px;

    border-radius: 5px;
    background-color: var(--lightGrey);
    padding: 15px;
}

.testSection_subPic {
    min-width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueStuff {
    width: 80%;
    height: 6px;
    background-color: var(--darkColour);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
}

.testSection_subText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description {
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
    color: var(--darkColour);
    font-weight: 400;
}

.fa-handshake-angle,
.fa-dumbbell,
.fa-staff-snake {
    font-size: 1.8rem;
    margin: 0 auto;
    color: var(--darkColour);
    margin: 40px auto;
}


#footer {
    background-color: var(--ultraDarkColour);
    width: 100%;
    position: relative;
}

.footerText .fa-solid {
    font-size: 1.4rem;
    width: 30px;
    margin: 5px 5px;
}

.footer_inner {
    width: var(--contentWidth);
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: var(--mainFont);
    padding: 35px 0;
    text-align: center;
}

.footerBox {
    margin: 0 auto;
}

.footerLogo {
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    display: flex;
    height: 100px;
}

.footerLogo-logobox {
    display: flex;
    align-items: center;
    height: 100%;
}

.footerLogo-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerLogo-textbox-1 {
    color: var(--lightColour);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}

.footerLogo-textbox-2 {
    color: var(--darkColour);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}

.footerHeadline {
    color: white;
    font-weight: 500;
}

.footerHeadlineSocial {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footerText {
    color: white;
    font-size: .9rem;
    line-height: 1.4rem;
}

.footerSocialTabs {
    color: white;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footerAbsoluteBG {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.backToTop {
    color: white;
    position: fixed;
    bottom: 20px;
    right: -50px;
    z-index: 100;
    border-radius: 4px;
    transition: .2s;
    font-size: 1.2rem;

    border: solid 1px white;
    height: 46px;
    width: 46px;
    display: flex;
    background-color: var(--ultraDarkColour);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.backToTopScrolled {
    right: 20px;
}

.yPhysioWrapper {
    background-color: var(--ultraDarkColour);
    //border-radius: 15px;
    margin: 0 auto;
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 1px black;
    //background-image: url("src/logo.png");
    position: relative;
    display: none;
}

.yPhysioWrapper .text {
    color: #d0d0d0;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.yPhysioHeader {
    font-family: var(--mainFont);
    font-family: 'Taviraj', serif;
    color: white;
    font-size: 2.5rem;
    line-height: 2.7rem;
    text-align: left;
    margin: 0 auto;

}

.yPhysioInner {
    max-width: var(--maxWidth);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    padding: 30px 0 0 0;
}

.yPhysio {
    position: relative;
    display: flex;
    //flex-direction: column;
    //align-items: center;
    //gap: 10px;
    max-width: 100%;
}

#contactWrapper {
    background-image: url(src/BG_edit.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 200px;
    position: relative;
}

.contactRightBG {
    background-image: url(src/opacityTest.png);
    background-size: cover;
    background-position: bottom;
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#contact {
    //background-color: var(--ultraDarkColour);
    background-color: rgba(11, 33, 79, 0.88);
    background-color: rgba(11, 33, 79, 1);
}

.contactRight {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contactRight-cards {
    width: 100%;
    margin: .2rem 0 3rem 0;
    display: grid;
    gap: 1.5rem;
}

.contactRight-social {
    margin: 0 auto;
    color: white;
    font-size: 2.5rem;
}

.contactRight-cardHeadline {
    padding: 0px 5px 5px 10px;
}

.contactRight-card {
    display: flex;
    color: white;
    width: 100%;
    border: solid 1px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    overflow: hidden;
}

.contactRight-cardContent {
    display: flex;
    align-items: center;
    padding: 0 .8rem;
}

.contactRight-cardContent p {
    color: white;
    text-align: left;
}

.contactRight-cardIcon {

    padding: 5px;
    border-right: solid 1px rgba(255, 255, 255, 0.25);
    background-color: #01143c;
}

.contactRight-cardIcon i {
    font-size: 2rem;
    padding: 10px;
}



.contactHeadline {
    background-image: url("src/frontDoor.JPG");
    background-size: cover;
    background-position: center;
    width: 100%;

    top: 8px;
}


.contactRight h5 {
    color: white;
    font-weight: 400;
    text-align: left;
}

.headlineWrapper {
    height: 55px;
    position: absolute;
    top: -27px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--ultraDarkColour);
    z-index: 1;
}

.headline {
    position: relative;
    color: white;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: var(--mainFont);
    text-align: left;
    padding: 0 15px;
    z-index: 1;

}

.borderLines {
    background-color: var(--borderColour);
    position: absolute;
    transition: 2s;
    border: solid .5px #d4d4d4;
    z-index: 0;
}

.lineTop {
    width: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0s, width 1s;
}

.lineTopShow {
    width: 100%;
    opacity: 1;
}

.lineRight {
    height: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0s, height 1s;
}

.lineRightShow {
    height: 100%;
    opacity: 1;
}

.lineLeft {
    height: 0;
    width: 1px;

    left: 0;

    opacity: 0;
    transition: opacity 0s, height 1s;
}

.lineLeftShow {
    height: 100%;
    opacity: 1;
}

.lineBottom {
    width: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0s, width 1s;
}

.lineBottomShow {
    width: 100%;
    opacity: 1;
}

.showBorder {
    opacity: 1;
}

.yPhysioContent {
    color: white;
    padding: 40px 25px 20px 25px;
    font-size: .9rem;
    line-height: 1.4rem;
    font-family: var(--mainFont);
    color: #e3e3e3;
}


.addressBarWrapper {
    display: none;
}

.navigationBarBelow {
    display: none;
}



.tro {
    opacity: 1;
    transform: translateY(0px);
    transition: 1s;
}

.white {
    color: white;
}
