@media only screen and (min-width: 601px) {

    /****** TYPOGRAPHY ******/


    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h2 {
        text-align: center;
    }

    h4 {
        color: var(--mainColour);
        font-size: 1.1rem;
        font-family: var(--mainFont);
        font-weight: 400;
    }

    h5 {
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.2rem;
    }

    p {
        text-align: center;
        margin: 0 auto;
        max-width: 800px;
    }

    section {
        width: 100%;
    }

    button {
        margin: 1.4rem 0 0 0;
    }

    .moreButton {
        margin: 0;
    }

    .smallText {
        text-align: center;
    }

    .yPhysioHeader {
        width: 100%;
        text-align: center:
    }


    .yPhysioInner {
        padding: 50px 0px 0px 0px;
    }

    .sectionWrapper {
        padding: 4rem 2rem;
    }

    #headerWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        //background-image: url("https://i.pinimg.com/originals/96/ef/f9/96eff9a254b6dacbaec2f46c5d3639c4.jpg");
        background-size: cover;
        //background-attachment: fixed;
        background-image: none;
        //height: 100vh;
        //min-height: 500px;
        //max-height: 800px;
    }


    .headerItem {
        background-color: white;
        width: fit-content;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 10px 15px;
        margin: 1rem 0;
        z-index: 1;
    }

    .headerPictureCollection {
        position: absolute;
        bottom: 0;
        height: 120px;
        height: 15%;
        width: 60%;
        right: 0;
        z-index: 1;


        display: flex;
        justify-content: space-between;
        max-height: 120px;
        min-height: 80px;
    }

    .headerPicture {
        width: 31%;
        background-color: black;

        background-image: url("src/training.jpg");
        background-size: cover;
        background-position: center;

        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.32);
    }

    #header {
        position: relative;
        align-items: center;
        background-size: cover;
    }


    #header_inner {
        margin: 0 auto;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
    }

    #header-left {
        width: 50%;
        height: 100%;
    }

    /* #header-left img {
        height: 100%;
        width: 100%;
        margin: 0;
        object-position: -200px;
        border-radius: 0;
    }*/

    #header-right {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .imgBox {
        //width: 95%;
        //height: 95%;
        margin: 0;
        padding: 0;
        //clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0 100%);
    }

    .darkCircle,
    .brightCircle {
        display: none;
    }

    #header_headlineWrapper {
        gap: 1rem;
    }

    #header_headlineWrapper h1 {
        text-align: left;
        max-width: 450px;
    }

    #header_headlineWrapper p {
        text-align: left;
        text-shadow: none;
        max-width: 450px;
        margin-left: 0;
        margin-right: 0;
        gap: 20px;
    }

    #header-emptyTop {
        width: 100%;
        height: 110px;
        display: block;
        display: none;
    }

    .subTitle {
        flex-direction: row;
    }

    #greetings {
        width: 70%;
        max-width: 1500px;
        margin: 4rem auto;
    }

    #greetings p {
        text-align: left;
        width: 800px;
    }

    #greetings h2 {
        width: 800px;
        margin: 0 auto;
        text-align: left;
    }

    #greetings .rightBox {
        width: 50%;
        padding: 50px;
    }

    .rightBox p {
        text-align: left;
    }

    .leftBox {
        width: 50%;
        position: relative;
    }


    .praxis {
        display: flex;
        width: 90%;
        max-width: var(--maxWidth);
        margin: 12rem auto 15rem auto;
    }

    .praxis h5,
    .praxis p {
        width: 100%;
        text-align: left;
    }

    .praxis .left-container {
        width: 50%;
    }

    .leftInner {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
        max-width: 500px;
    }


    .praxis .right-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 6rem;
    }

    .praxis img {
        width: 420px;
        height: 200px;
        object-fit: cover;
        margin: 10px 0;
        border-radius: 10px;
        border: solid 2px var(--ultraDarkColour);
    }

    .leftInner img {
        border: none;
        width: 2rem;
        height: auto;
        aspect-ratio: 1;
        margin: 2rem 1rem;
    }

    #physioHelpsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .physioHelps {
        margin: 0 auto;
    }

    .physioHelps .smallText {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
    }

    .physioHelpsCard {
        //flex-direction: row;
        justify-content: space-between;
        margin: 4rem auto 0 auto;
    }

    .physioHelpsCard {
        //max-width: 360px;
        margin: 0 auto;
        text-align: left;
    }

    .physioHelpsCardHeadline {
        font-size: 1.4rem;
    }

    #greetings {
        padding: 2rem 1.8rem 4rem 1.8rem;
    }

    #newLeistungenWrapper {
        //max-width: var(--maxWidth);
        //margin: 0 auto;
        padding: 0;
        background-color: var(--lightColour);
    }

    .newLeistungen {
        gap: 50px;
    }

    .newLeistungenLeft {
        width: 100%;
        margin: 0;
    }

    .newLeistungenLeftInner {
        display: flex;
        flex-direction: column;

        position: sticky;
        top: 8rem;
        top: 25vh;
    }

    .newLeistungen p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .newLeistungenRight {
        width: 50%;
        margin: 0 auto;
    }

    .leistungenRightGrid {
        display: grid;
        gap: 20px;
        grid-template-columns: auto;
        width: 635px;
        height: 635px;
    }

    .newAbsolute {
        position: absolute;
        top: 0;
        right: 0;
        //background-image: url(src/aboutMe.jpg);
        background-color: #989898;
        opacity: 0.08;
        height: 100%;
        width: 45%;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);

        display: none;
    }

    .justAButton {
        margin: 2rem auto;
    }

    #contact {
        display: flex;
    }

    .contactHeadline {
        position: relative;
        top: 0;
        width: 40%;
        min-height: 400px;
        background-position: center;
    }

    .contactRight {
        width: 60%;
        max-width: 800px;
        overflow: hidden;
    }

    .contactRight-cards {
        grid-template-columns: auto auto;
        gap: 15px 30px;
        margin: .5rem 0 3rem 0;
    }

    #rezensionen {
        min-height: 10px;
        padding: 8rem 0rem 10rem 0rem;
        display: flex;
        gap: 5rem;

    }

    .rezension {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        /* prevents shrinking */
        width: 550px;
        padding: 25px 30px;
        float: left;
        border-radius: 20px;

        font-family: var(--mainFont);
        line-height: 24px;
        transition: ease-out .1s;
        text-decoration: none;
    }

    .rezension:hover {
        transform: scale(1.03);
        //box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .rezension > div {
        min-height: 10px;
    }

    .rezension-top {

        display: flex;
        justify-content: flex-end;
        gap: 3px;
    }


    .firstSection_inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        position: relative;
        padding: 70px 25px;

        display: flex;
        align-items: center;
    }

    #secondSection {
        position: relative;
        background-color: var(--lightGrey);
    }

    .secondSection_inner {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .leistungenRightGrid {
        display: grid;
        gap: 35px;
        grid-template-columns: auto auto;
        margin: 0 auto;
    }

    .aboutMeTextBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aboutMeTextBox .text {
        width: 90%;
    }

    .aboutMeTextBox h5 {
        text-align: left;
    }

    .aboutMeImageBox {
        position: relative;
        height: 250px;
        padding: 0 20px;
        max-width: 360px;
    }

    .aboutMeImageBox img {
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.38);
    }

    .sectionLeft {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        border-radius: 10px;
    }

    .sectionLeft h5 {
        text-align: right;
    }

    .sectionLeft .text {
        text-align: right;
    }

    .sectionRight {
        position: absolute;
        display: block;
        right: -80px;
    }

    .footer_inner {
        width: var(--contentWidth);
        max-width: var(--maxWidth);
        margin: 0 auto;
        display: flex;

        justify-content: space-between;
        font-family: var(--mainFont);
    }

    .footerLogo {
        height: 120px;
    }

    .footerText {
        display: flex;
        align-items: center;
    }

    .footerSocialTabs {
        color: white;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        gap: 15px;
    }


    .testCircleWrapper {
        display: none;
    }

    .imgBox {
        display: block;
    }


}
