@media only screen and (min-width: 601px) {

    /****** TYPOGRAPHY ******/


    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    h4 {
        color: var(--mainColour);
        font-size: 1.1rem;
        font-family: var(--mainFont);
        font-weight: 400;
    }

    h5 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 500;
        text-align: left;
    }

    p {
        text-align: left;
        margin: 0 auto;
        max-width: 800px;
        color: var(--ultraDarkColour);
    }

    .smallText {
        text-align: center;
    }

    .yPhysioHeader {
        width: 100%;
        text-align: center:
    }


    .yPhysioInner {
        padding: 50px 0px 0px 0px;
    }

    #headerWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        //background-image: url("https://i.pinimg.com/originals/96/ef/f9/96eff9a254b6dacbaec2f46c5d3639c4.jpg");
        background-size: cover;
        //background-attachment: fixed;
        background-image: none;
        height: 100vh;
        min-height: 500px;
        max-height: 800px;
    }


    .headerItem {
        background-color: white;
        width: fit-content;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding: 10px 15px;
        margin: 1rem 0;
        z-index: 1;
    }

    .headerPictureCollection {
        position: absolute;
        bottom: 0;
        height: 120px;
        height: 15%;
        width: 60%;
        right: 0;
        z-index: 1;


        display: flex;
        justify-content: space-between;
        max-height: 120px;
        min-height: 80px;
    }

    .headerPicture {
        width: 31%;
        background-color: black;

        background-image: url("src/training.jpg");
        background-size: cover;
        background-position: center;

        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.32);
    }

    #header {
        position: relative;
        align-items: center;
        background-size: cover;
    }


    #header_inner {
        margin: 0 auto;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header-left {
        width: 50%;
        height: 700px;
    }

    #header-left img {
        height: 100%;
    }

    #header-right {
        width: 50%;
        display: flex;
        align-items: center;

    }

    #header_headlineWrapper {}

    .sticker {
        display: none;
    }

    #header_headlineWrapper h1 {
        text-align: left;
        text-shadow: none;
        max-width: 450px;
    }

    #header_headlineWrapper p {
        text-align: left;
        text-shadow: none;
        max-width: 450px;
        margin-left: 0;
        margin-right: 0;
        gap: 20px;
    }

    #header-emptyTop {
        width: 100%;
        height: 110px;
        display: block;
        display: none;
    }

    #physioHelpsWrapper {
        padding: 4rem 0;
        height: 90vh;
        min-height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .physioHelps {
        margin: 0 auto;
        padding: 0;
    }

    .physioHelps .smallText {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
    }

    .physioHelpsCard {
        //flex-direction: row;
        justify-content: space-between;
        margin: 4rem auto 0 auto;
    }

    .physioHelpsCard {
        //max-width: 360px;
        margin: 0 auto;
        text-align: left;
    }

    .physioHelpsCardHeadline {
        font-size: 1.4rem;
    }

    #newLeistungenWrapper {}

    .newLeistungen {
        gap: 50px;
    }

    .newLeistungenLeft {
        width: 100%;
        margin: 0;
    }

    .newLeistungen h5 {
        text-align: center;
    }


    .newLeistungen p {
        text-align: center;
        width: 80%;
    }

    .newLeistungenRight {
        width: 50%;
        margin: 0 auto;
    }

    .contactRight {
        width: 60%;
        max-width: 800px;
    }

    .contactRight-cards {
        grid-template-columns: auto auto;
        gap: 15px 30px;
        margin: 1rem 0 3rem 0;
    }

    .contactRight-cardWrapper {}


    .firstSection_inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        position: relative;
        padding: 70px 25px;

        display: flex;
        align-items: center;
    }

    #secondSection {
        position: relative;
        background-color: var(--lightGrey);
    }

    .secondSection_inner {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .leistungenRightGrid {
        display: grid;
        gap: 35px;
        grid-template-columns: auto auto;
    }

    .aboutMeTextBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aboutMeTextBox .text {
        width: 90%;
    }

    .aboutMeTextBox h5 {
        text-align: left;
    }

    .aboutMeImageBox {
        position: relative;
        height: 250px;
        padding: 0 20px;
        max-width: 360px;
    }

    .aboutMeImageBox img {
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.38);
    }

    .sectionLeft {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        border-radius: 10px;
    }

    .sectionLeft h5 {
        text-align: right;
    }

    .sectionLeft .text {
        text-align: right;
    }

    .sectionRight {
        position: absolute;
        display: block;
        right: -80px;
    }

    .footer_inner {
        width: var(--contentWidth);
        max-width: var(--maxWidth);
        margin: 0 auto;
        display: flex;

        justify-content: space-between;
        font-family: var(--mainFont);
    }

    .footerLogo {
        height: 120px;
    }

    .footerHeadline {
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .footerText {
        display: flex;
        align-items: center;
    }

    .footerSocialTabs {
        color: white;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        gap: 15px;
    }


}
