#testSection2 {
    display: flex;
    justify-content: center;
    background-color: var(--ultraDarkColour);
}

.testSection2-left {
    width: 50%;
    top: 100px;
    background-color: var(--ultraDarkColour);
}

.testSection2-left h1 {
    color: white;
    text-align: center;
    position: sticky;
    top: 100px;
}

.testSection2-right {
    width: 50%;
}

.testSection_inner {
    width: var(--contentWidth);
    max-width: var(--maxWidth);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: var(--maxWidth);
    margin: 0 auto;
}

.footerSocialTabs {
    color: white;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.testSection_sub {
    display: flex;
    gap: 22px;
    width: 350px;
    margin-top: 3rem;
    padding: 20px 0;
}

.testSection_subPic {
    min-width: 70px;
    height: 75px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testSection_subPic > i {
    font-size: 2.5rem;
    color: var(--darkColour);
}

.praxis2 {
    background-color: var(--lightColour);
}

.praxis2Inner {
    //width: 90%;
    //max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.praxis2Inner p {
    width: 800px;
}

.praxis2ImgWrapper {
    display: flex;

    position: relative;
}

.praxis2ImgWrapper img {
    object-fit: cover;
    //margin: 5rem 1.6rem 0 1.6rem;

    //border-radius: 10px;
    //border: solid 2px var(--ultraDarkColour);
    width: 100%;
    height: 100%;
    //aspect-ratio: 1:1.4;
    filter: grayscale(40%);
}

.praxis2ImgWrapper img:nth-child(2) {
    //transform: translateY(30px);
}

.henry {
    position: relative;
    width: 100%;
    aspect-ratio: 1:1.4;
    margin: 5rem 1.6rem 0 1.6rem;

    border-radius: 20px;
    overflow: hidden;
    border: solid 2px var(--ultraDarkColour);
}


.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.image-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.image-carousel img {
    width: 100%;
    flex-shrink: 0;
}

/* 🔹 Ab Tabletgröße: Kein Carousel */
@media (min-width: 768px) {
    .carousel-wrapper {
        overflow: visible;
    }

    .image-carousel {
        transform: none !important;
        flex-wrap: wrap;
    }

    .image-carousel img {
        width: auto;
        flex: 1 1 33%;
    }
}
